/* couleur du fond */
body {
  background-color: #383d3c;
  font-size: 50px;
  margin: auto;
  height: auto;
}

/* fond couleur head page */
#headpage {
  background-color: #1ac5ae;
}

/* réglage titre */
h1.titlename {
  color: #000;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "times new roman", serif;
}

h2.titlejob {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "comic sans ms", serif;
}

/* mise en forme onglet  */
nav.menu {
  list-style-type: none;
  font-size: 20px;
  font-family: "times new roman", serif;
  text-align: center;
  background-color: #000;
}

/* mise en page de la liste onglet */
ul.onglet, li,a {
  color: #1ac5ae;
  text-decoration: none;
  display: inline;
  margin-left: 30px;
}

/* photo de moi */
#pictureme {
  width: 10px;
  height: 10px;
  padding-top: 10px;
}

/* block présentation */
#présentation {
  width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* mise en forme titre présentation */
.intro {
  font-family: 'Dancing Script', serif;
  font-size: 40px;
  margin-bottom: 4px;
  text-align: center;
  text-decoration: underline #1ac5ae;
}

/* mise en forme texte paragraphe présentation */
.myprofil {
  font-family: "times new roman", cursive, serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 4px;
}

.moi {
  color: #1ac5ae;
  font-family: cursive;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
}

/* icone presentation */
div.iconpres {
  width: 0px;
  height: 0px;
  float: left;
  margin-left:190px;

}

/* block compétence */
#compétence {
  width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* mise en forme titre compétence */
.intro2 {
  font-family: 'Dancing Script', serif;
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 4px;
  text-decoration: underline #1ac5ae;
}

/* mise en page texte paragraphe compétence */
.myprofil2 {
  font-family: "times new roman", serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 4px;
}

/* icone compétence */
div.iconcomp {
  width: 0px;
  height: 0px;
  float: left;
  margin-left:190px;
}

img.logohtml {
  margin-left: 250px;
}

img.logocss {
  width: auto; 
}

img.logophp {
  width: auto; 
  margin-left: 250px;
}

img.js {
  width: auto; 
}

img.windows {
  width: auto;
  margin-left: 250px; 
}

img.vscode {
  width: auto; 
}

/* block experience */
#experience {
  width: 700px;
  height: 200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* mise en forme titre experience */
.intro3 {
  font-family: 'Dancing Script', serif;
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 4px;
  text-decoration: underline #1ac5ae;
}

/* mise en page texte paragraphe expérience */
.myprofil3 {
  font-family: "times new roman", serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 4px;
}

.myexperience {
  color: #1ac5ae;
  font-family: cursive;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.iconexp {
  width: 0px;
  height: 0px;
  float: left;
  margin-left:190px;

}

/* block diplome */
#diplome {
  width: 700px;
  height: 200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* mise en forme titre diplome */
.intro4 {
  font-family: 'Dancing Script', serif;
  font-size: 40px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 4px;
  text-decoration: underline #1ac5ae;
}

/* mise en page texte et paragraphe diplome */
.myprofil4 {
  font-family: times, serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 2px;
}

.mydiplome {
  color: #1ac5ae;
  font-family: arial, "times new roman", serif;
  font-size: 16px;
  text-align: center;
}

div.certificate {
  width: 0px;
  height: 0px;
  float: left;
  margin-left:190px;
}

/* block interet */
#interet {
  width: 700px;
  height: 200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* mise en forme titre interet */
.intro5 {
  font-family: 'Dancing Script', serif;
  font-size: 40px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 4px;
  text-decoration: underline #1ac5ae;
}

/* mise en page texte et paragraphe interet */
.myprofil5 {
  font-family: "times new roman", serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 4px;
}

.myinteret {
  color: #1ac5ae;
  font-family: arial, "times new roman", serif;
  font-size: 16px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

div.heart {
  width: 0px;
  height: 0px;
  float: left;
  margin-left:190px;
}

div.icongame {
  width: 0px;
  height: 0px;
  margin-left: 200px;
}

div.cooking {
  width: 0px;
  height: 0px;
  margin-left: 300px;
}

div.book {
  width: 0px;
  height: 0px;
  margin-left: 400px;
}

/* block contact */
#contact {
  width: 700px;
  height: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* mise en forme titre contact */
.intro6 {
  font-family: 'Dancing Script', serif;
  font-size: 40px;
  text-align: center;  
  text-decoration: underline #1ac5ae;
}

/* mise en page texte et paragraphe contact */
.myprofil6 {
  font-family: "times new roman", serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
 
}

.mycontact {
  color: #1ac5ae;
  font-family: arial, "times new roman", serif;
  font-size: 16px;

}

div.phone {
  width: 0px;
  height: 0px;
  float: left;
  margin-left:190px;
}

div.twitter {
  width: 0px;
  height: 0px;
  margin-left: 160px;
 
}

div.facebook {
  width: 0px;
  height: 0px;
  margin-left: 260px;
  
}

div.github {
  width: 0px;
  height: 0px;
  margin-left: 360px;
 
}

div.mail {
  width: 0px;
  height: 0px;
 margin-left: 460px;
}

/* bas de page */
footer {
  font-size: 18px;
  font-family: "times new roman", serif;
  text-align: left;
  margin-top: auto;
}
